body {
  height: 100vh;
  width: 100vw;

  box-sizing: border-box;
  font-family: 'Courier Prime', Courier, monospace;
  font-size: 14px;
  line-height: 18px;
  background-color: #fefefe;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

   -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard */
}

.header {
  text-transform: uppercase;
  padding: 6px 12px;
  position: sticky;
  top: 20px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 60px;
  text-decoration: none;
  color: black;
  z-index: 30;
}
.container {
  box-sizing: border-box;
  padding: 12px 24px 24px 24px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 440px;
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #aaa;
  cursor: move;
}
.label {
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  width: fit-content;
  padding: 2px 6px;
  border-radius: 2px;
}
.project-container { 
  z-index: 10;
  padding: 12px;
}
.project-container > .label {
  top:-10px;
  margin-bottom: -48px;
  z-index: 10;
  position: relative;
}
.project-container > img {
  width: 100%;
}
.info-container { 
  z-index: 20;
}
.highlight-container {
  z-index: 21;
}
.phone-container {
  display: none;
}

button{
  display: block;
  background-color: white;
  width: 100%;
  text-align: center;
  border: 1px solid lightgrey;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

canvas {
  position: fixed;
  top: 0px;
  left: 0px;
}
#hidden_heatmap {
  display: none;
}
 @media only screen and (max-width: 800px) {
  body {
    overflow-y: initial;
    padding-bottom: 100px;
    height: auto;
  }
  .phone-container {
    display: block;
  }
  .highlight-container  {
    display: none; 
  }
}